:root {
    /* Palette Tokens*/
    --color-ghost-white: oklch(0.9903 0.0084 325.64);
    --color-frozen-water: oklch(0.9649 0.0331 194.31);
    --color-tropical-teal: oklch(0.7261 0.1215 192.76);
    --color-vibrant-coral: oklch(0.6931 0.1968 24.77);
    --color-blue-slate: oklch(0.4577 0.0277 224.25);
    --color-blue-slate-opa12: oklch(0.4577 0.0277 224.25 / 0.12);
    --color-shadow-grey: oklch(0.2964 0.006 314.73);

    /* Layout Tokens */
    --box-shadow-sm: 0 1px 2px oklch(0 0 0 / 0.05);
    --nav-bar-ratio: 1 / 20;

    /* Responsive Sizing Tokens */
    --header-text-clamp: clamp(2.20rem, 5vw, 5rem);
    --icon-button-clamp: clamp(36px, 3vw, 44px);
    --icon-button-container-width-clamp: clamp(60px, 5.418vw, 92px);
    --icon-button-container-height-clamp: clamp(56px, 3.730vw, 95px);
    --icon-clamp: clamp(24px, 1.25vw, 32px);

    /* Root Defaults */
    -webkit-text-size-adjust: 100%;
    background: var(--color-ghost-white);
    color: var(--color-shadow-grey);
    font-family: "Commissioner", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

/* Standard Sizing Rest */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Mimimum Default Layout Sizes */
body {
    margin: 0;
    min-width: 320px;
    min-height: 320px;
}

button,
input,
select,
textarea {
    font: inherit;
}