.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.banner {
    display: flex;
    width: 100vw;
    aspect-ratio: 20 / 1;
    background: var(--color-shadow-grey);
    color: var(--color-ghost-white);
    align-items: center;
    justify-content: center;
}