.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacer {
    width: 100vw;
    aspect-ratio: 20 / 1;
    min-height: 64px;
}

.content {
    display: flex;
    min-height: calc(100vh - 64px);
    flex-direction: column;
    align-items: center;
    width: 97%;
}

.header {
    align-self: flex-end;
    margin: 1rem 1.5rem 0;
    color: var(--color-shadow-grey);
    font-size: var(--header-text-clamp);
    font-weight: 800;
    line-height: 1;
}

.reposContainer {
    width: 50%;
}